@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles.css');
@import url('./animations.css');


body {
    scroll-behavior: smooth;
}

::selection {
    @apply text-brand bg-slate-200;
}


@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}

.myname {
    @apply flex items-baseline gap-0.5;
}

.myname__sep {
    @apply bg-lightBlue h-1 w-4;
}


@layer base {
    html {
        font-family: "Montserrat Alternates", sans-serif;
    }

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

}